<h2>Welcome to Whack!</h2>

<p>Hi <%= @user.name %></p>

<p>
Click on the link below to activate your account:
(Only click this link once. Once you have activated your account, this link will no longer be valid)
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
