<%= form_for(current_user.relationship_ps.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :problem_id, problem.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary mb-0 p-0" %>
<% end %>