<% provide(:title, 'All problems') %>
<p id="notice"><%= notice %></p>

<!--h2>All Problems</h2-->
<%= render partial: 'filter_form' %>

<div id="problems_table" class="container px-1 mb-5">
  <%= render partial: 'problems_table' %>
</div>

<% if current_user && current_user.admin? %>
<%= link_to 'New Problem', new_problem_path, {class: 'new'} %>
<% end %>

<!--ul class="listgroup-table pl-0">
    <em>click underlined headings to sort:</em>
      <li class="listitem-table"><div class="Grey Circle"></div> Grd = Setter's Grade</li>
      <li class="listitem-table"><div class="Grey Circle"></div> Set = Set by</li>
</ul-->
