  <div class ="d-flex bg-light sort_header">
      <div class ="cell c-colheader">Grade</div>
      <div class ="cell c-colheader">Count</div>
      <% if current_user %>
        <div class ="cell c-colheader">Climbed</div>
        <div class ="cell c-colheader">Climbed %</div>
      <% end %>
  </div>
  <% @grade.each do |grade| %>
  <% grade_climbed_count = Problem.grades(grade).count %>
    <div class ="d-flex bg-light">
        <div class ="cell problem-summary-grade"><%= grade %></div>
        <div class ="cell problem-summary-count"><%= grade_climbed_count %></div>
        <% if current_user %>
        <% grade_climbed = Problem.grades(grade).map { |p| p.sent?(current_user) }.count(true) %>
         <div class ="cell problem-summary-climbed"><%= grade_climbed %></div>
         <div class ="cell problem-summary-climbed"><%= number_to_percentage(grade_climbed.to_f / grade_climbed_count * 100, precision: 0) %></div>
        <% end %>
    </div>
  <% end %>
