<div class="container px-1 mt-3 mb-0">
  <% @grade.each do |grade| %>
    <div class ="grade-info">
      <div class ="grade-info-item">
        <span class="text-dark grade-info-item-count"><%= Problem.grades(grade).count %> </span>
        <span class="text-secondary"> <%= grade %> </span>
      </div>
    </div>
  <% end %>
</div>
