<% provide(:title, 'Stats') %>
<h2>Stats</h2>

<!-- Activity links -->
<div class="container tab tab_rent mb-4 mt-4">
  <button id="League_btn" class="tablinks" onclick="openFeature(event, 'leagueSummary')" >League</button>
  <button id="Problem_btn" class="tablinks" onclick="openFeature(event, 'problemSummary')">Problems</button>
</div>

<div id="leagueSummary" class="Studio_Use_Group Rehearse tabcontent">

    <div id="league_table" class="container pl-0 pr-0 mb-3">
      <%= render partial: 'league_table' %>
    </div>

    <ul class="forMobile listgroup-table pl-0">
		  <li class="listitem-table"><div class="Grey Circle"></div> HG = Highest Grade</li>
		  <li class="listitem-table"><div class="Grey Circle"></div> TaHG = Tops at Highest Grade</li>
		  <li class="listitem-table"><div class="Grey Circle"></div> WPs = Whack Points</li>
    </ul>

</div>
<div id="problemSummary" class="Studio_Use_Group Rehearse tabcontent">
  <div class="container px-1 mb-0">
    <table class ="Problemtable">
      <thead>
        <tr>
          <th>Grade</th>
          <th>Count</th>
          <% if current_user %>
            <th>Climbed</th>
          <% end %>
        </tr>
      </thead>

    <tbody>
    <% @grade.each do |grade| %>
        <tr>
          <td><%= grade %></td>
          <td><%= Problem.grades(grade).count %></td>
          <% if current_user %>
            <td><%= Problem.grades(grade).map { |p| p.sent?(current_user) }.count(true) %></td>
          <% end %>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>

<script>
  // room features tabs
  	function openFeature(evt, featureName) {
  	  // Declare all variables
  	  var i, tabcontent, tablinks;

  	  // Get all elements with class="tabcontent" and hide them
  	  tabcontent = document.getElementsByClassName("tabcontent");
  	  for (i = 0; i < tabcontent.length; i++) {
  		tabcontent[i].style.display = "none";
  	  }

  	  // Get all elements with class="tablinks" and remove the class "active"
  	  tablinks = document.getElementsByClassName("tablinks");
  	  for (i = 0; i < tablinks.length; i++) {
  		tablinks[i].className = tablinks[i].className.replace(" active", "");
  	  }

  	  // Show the current tab, and add an "active" class to the button that opened the tab
  	  document.getElementById(featureName).style.display = "block";
  	  evt.currentTarget.className += " active";
  	}

    document.getElementById("League_btn").click();
  </script>
