<% provide(:title, 'Stats') %>
<h2>Stats</h2>

<!-- Activity links -->
<div class="container tab tab_rent mb-4 mt-4">
  <button id="League_btn" class="tablinks" onclick="openFeature(event, 'leagueSummary')" >League</button>
  <button id="Problem_btn" class="tablinks" onclick="openFeature(event, 'problemSummary')">Problems</button>
</div>

<div id="leagueSummary" class="Studio_Use_Group Rehearse tabcontent">
  <div id="league_table" class="container stats-container pl-0 pr-0 mb-3">
    <%= render partial: 'league_table', locals: {from_where: 'not_home', sort_applies: true} %>
  </div>
  <ul class="forMobile listgroup-table pl-0">
	  <li class="listitem-table"><div class="Grey Circle"></div> HG = Highest Grade (tops at grade)</li>
	  <li class="listitem-table"><div class="Grey Circle"></div> WPs = Whack Points</li>
  </ul>
</div>

<div id="problemSummary" class="Studio_Use_Group Rehearse tabcontent">
  <div id="problem_summary_table" class="container stats-container pl-0 pr-0 mb-3">
    <%= render partial: 'problem_summary_table', locals: {from_where: 'not_home'} %>
  </div>
</div>

<script>
  // room features tabs
  	function openFeature(evt, featureName) {
  	  // Declare all variables
  	  var i, tabcontent, tablinks;

  	  // Get all elements with class="tabcontent" and hide them
  	  tabcontent = document.getElementsByClassName("tabcontent");
  	  for (i = 0; i < tabcontent.length; i++) {
  		tabcontent[i].style.display = "none";
  	  }

  	  // Get all elements with class="tablinks" and remove the class "active"
  	  tablinks = document.getElementsByClassName("tablinks");
  	  for (i = 0; i < tablinks.length; i++) {
  		tablinks[i].className = tablinks[i].className.replace(" active", "");
  	  }

  	  // Show the current tab, and add an "active" class to the button that opened the tab
  	  document.getElementById(featureName).style.display = "block";
  	  evt.currentTarget.className += " active";
  	}

    document.getElementById("League_btn").click();
  </script>
