

.cell {
  color: black;
  font-family: "Quicksand", "Arial";
  font-size: 0.8em;
  flex: 1;
  border: 0.05em solid white;
  background-color: #e9ecef;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.c-rowheader {
  text-align: left;
  padding-left: 0.5em;
}

.c-detail {
  text-align: left;
  padding-left: 0.5em;
  flex: 2.2;
}

.nomobile {
  display: none;
}

@media (min-width: 576px) {
  .nomobile {
    display: block;
  }
}
