<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%#= link_to image_tag("SpaceLogo.png", alt: "The Space logo", width: "60%"),
            'http://www.thespacejuhu.in/' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%#= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "All Problems", problems_path %></li>
          <li><%= link_to "My Problems", relationship_ps_path %></li>
          <!--li><%#= link_to "Climbers", users_path %></li>
          <li><%#= link_to "Profile", current_user %></li>
          <li><%#= link_to "Settings", edit_user_path(current_user) %></li-->
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
